<div class="layout">
  <div class="columns">
    <div class="column">
      <div class="markdown">
        <span class="title">Motivational Quote</span>
        <div class="content content--center">
          {{ quote_text }}
        </div>
        <span class="label label--underline">{{ quote_author }}</span>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg"/>
  <span class="title">Plugin Title</span>
  <span class="instance">Instance Title</span>
</div>
